.chat-main
  .main-header
    .main-header__left-box
      .main-header__current-group
        = @group.name
        -# MEIN
      .main-header__member-list
      - @group.users.each do|u|
        =u.name
        -# Member:
    .main-header__edit-btn
      = link_to "#" do
        Edit

  .messages
    = render @messages
    -# .message-box
    -#   .message-box__upper-info
    -#     %p.message-box__upper-info__person
    -#       NOBU
    -#     %p.message-box__upper-info__date
    -#       2020/03/21 11:41
    -#   %p.messag-box__message-text
    -#     Hello
      
    -# .message-box
    -#   .message-box__upper-info
    -#     %p.message-box__upper-info__person
    -#       YOSHI
    -#     %p.message-box__upper-info__date
    -#       2020/03/21 03:30
    -#   %p.messag-box__message-text
    -#   Hello

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
